body {
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  margin: 0;
}
h1 {
  font-size: 2em;
  font-weight: 800;
}
h3 {
  font-size: 1.5em;
  font-weight: 800;
}

/* NAVIGATION BAR*/
.navigation-bar {
    background-color: #838383;
    overflow: hidden;
}
  
.navigation-bar img {
    float: left;
    width: 200px;
    height: 45px;
    padding: 2px;  
}

.navigation-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.1em;
}

.navigation-bar a:hover {
    background-color: #ddd;
    color: black;
}
  
.navigation-bar a.active {
    background-color: #7eaa55;
    color: white;
}

/* HOME PAGE */
.home-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 380px));
    /*grid-template-columns: 2.5fr 1.5fr;*/
    grid-template-rows: auto auto;
    column-gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.home-container > div:first-child {
    grid-column: span 2;
}

/* LEFT + RIGHT CONTAINERS */
.left-container {
    float: left;
    min-width: 320px;
}

.right-container {
    float: right;
    min-width: 320px;
}

/* specific to HOME PAGE */
.right-container img {
    min-width: 420px;
    max-width: 100%;
    height: auto; 
}

/* specific to HOME PAGE */
.textbox-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto auto;
    column-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

/* DATA PAGE */
.data-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
    grid-template-rows: auto auto;
    column-gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.container {
  margin: 10px;
}
.footer {
  margin: 0 !important;
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
}
.left-footer {
  width: calc(45%);
  margin-left: 0;
  margin-right: 50%;
  text-align: left;
  position: absolute;
}
.right-footer {
  width: calc(45%);
  margin-left: 50%;
  margin-right: 0;
  text-align: right;
  position: absolute;
}
.white-text {
  color: #ffffff;
  text-decoration: none;
}
a.white-text:hover {
  color: #dddddd;
}
.grid-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: auto auto;
}
.grid {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "main sidebar";
}
.main {
  grid-area: main;
  min-width: 320px;
}
.sidebar {
  grid-area: sidebar;
  min-width: 320px;
}
.grid-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
  grid-template-rows: auto auto;
  grid-template-areas:
    "main-top sidebar-top";
}
.main-top {
  grid-area: main-top;
  margin: 0 10%;
}
.sidebar-top {
  grid-area: sidebar-top;
}
.squared-text {
  text-transform: uppercase;
  font-size: 0.75em;
  border-style: solid;
  border-width: 4px;
  padding: 2px;
  white-space: nowrap;
}
.squared {
  font-size: 1.3em;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  margin: 10px 0 10px;
  text-align: center;
}

/* ADDED SOME CLASSES */
.spaced {
    letter-spacing: 3px;
}
.content {
    text-align: left;
}
.text-bold {
    font-size: 1em;
    font-weight: 800;
}
.text-blue {
    color: #689bd0;
}
.text-green {
    color: #7eaa55;
}
.text-yellow {
    color: #f6c143;
}
/* END OF ADDED CLASSES */

.blue {
  border-color: #689bd0;
}
.green {
  border-color: #7eaa55;
}
.yellow {
  border-color: #f6c143;
}
.quote {
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
  line-height: 1.6em;
}
.question {
  font-size: 1.5em;
  font-weight: 800;
  padding: 30px 0 30px 0;
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.large-words {
  font-size: 3.5em;
}
.box {
  padding: 10px 10px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 20px;
}
.blue-box {
  background: #689bd0;
}
.green-box {
  background: #7eaa55;
}
.yellow-box {
  background: #f6c143;
}
.red-box {
  background: #eb4034;
}
.orange-box {
  background: #ff8303;
}
.purple-box {
  background: #8938ab;
}
.blue-text {
  color: #689bd0;
}
.green-text {
  color: #7eaa55;
}
.yellow-text {
  color: #f6c143;
}
.red-text {
  color: #eb4034;
}
.orange-text {
  color: #ff8303;
}
.purple-text {
  color: #8938ab;
}
.blue1 {
  background: #a6bddb;
}
.blue2 {
  background: #74a9cf;
}
.blue3 {
  background: #2b8cbe;
}
.blue4 {
  background: #045a8d;
}
.bulb {
  width: 242px;
  margin-left: auto;
  margin-right: auto;
}
.over {
  cursor: pointer;
}
.yellow1-solid {
  background: #fd8d3c;
}
.yellow2-solid {
  background: #fed976;
}
.yellow3-solid {
  background: #ffffcc;
}
.yellow1 {
  background: linear-gradient(0deg, #fd8d3c 0%, #ef3b2c 100%);
}
.yellow2 {
  background: linear-gradient(0deg, #fdd433 0%, #fd8d3c 100%);
}
.yellow3 {
  background: linear-gradient(0deg, #ffffaa 0%, #fdd433 100%);
}
.gray {
  background: #ccc;
}

.map {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 975px;
  height: 475px;
  padding-top: 30px;
}
.circle {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.circle-border {
  height: 75px;
  width: 75px;
  border: 3px solid #666;
  border-radius: 50%;
}
.top-left {
  position: absolute;
  top: -30px;
  left: 25%;
}
.top-right {
  position: absolute;
  top: -30px;
  right: 25%;
}
.left {
  position: absolute;
  top: 40%;
  left: 5%;
}
.right {
  position: absolute;
  top: 40%;
  right: 5%;
}
.bottom {
  position: absolute;
  bottom: 5%;
  left: 45%;
}
path {
    stroke: #ddd;
    stroke-width: 1px;
}
.grid-venn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
  grid-template-rows: auto auto;
  grid-template-areas:
    "sidebar-venn main-venn";
}
.main-venn {
  grid-area: main-venn;
  text-align: left;
  min-width: 512px;
  margin-left: auto;
  margin-right: auto;
}
.sidebar-venn {
  grid-area: sidebar-venn;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}
.venn {
  width: 512px;
  margin-left: auto;
  margin-right: auto;
}
.set {
  cursor: pointer;
}

.text-box {
  padding: 10px 20px;
  color: #fff;
  border-radius: 20px;
  max-width: 450px;
  min-height: 200px;
  font-size: 2em;
  text-align: justify;
  text-justify: inter-word;
}
.item1 { grid-area: image1; margin-left: -10px; margin-right: -20px; }
.item2 { grid-area: money; width: 150px; }
.item3 { grid-area: blank; }
.item4 { grid-area: education; width: 100px; text-align: left; }
.item5 { grid-area: horizontal; }
.item6 { grid-area: dollar; text-align: right; }
.item7 { grid-area: together; text-align: center; width: 50px; }
.item8 { grid-area: image2; }

.grid-box {
  display: grid;
  grid-template-areas:
    'image1 money blank image2 education horizontal'
    'dollar money together together education horizontal';
  grid-gap: 5px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.updown {
  text-transform: uppercase;
  text-align: center;
  transform: rotate(90deg);
  max-height: 200px;
  font-size: 0.3em;
  width: 15px;
  height: 50px;
  margin-left: -25px;
}

.big {
  font-size: 3em;
}

.small-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.tip {
  color: #ffffff;
}

.d3-tip {
   line-height: 1;
   font-weight: bold;
   padding: 12px;
   background: rgba(0, 0, 0, 0.8);
   color: #fff;
   border-radius: 2px;
 }

 .d3-tip:after {
   box-sizing: border-box;
   display: inline;
   font-size: 10px;
   width: 100%;
   line-height: 1;
   color: rgba(0, 0, 0, 0.8);
   content: "\25BC";
   position: absolute;
   text-align: center;
 }

 .d3-tip.n:after {
   margin: -5px 0 0 0;
   top: 100%;
   left: 0;
 }

 .country {
   font-size: 1.5em;
 }

 .effects {
   padding-left: 20px;
 }

 .high-blue {
   border-color: rgb(0, 229, 239);
 }

 .medium-blue {
   border-color: rgb(0, 163, 237);
 }

 .low-blue {
   border-color: rgb(52, 97, 235);
 }

 .high-green {
   border-color: rgb(0, 240, 109);
 }

 .medium-green {
   border-color: rgb(0, 198, 128);
 }

 .low-green {
   border-color: rgb(20, 156, 147);
 }

 .high-purple {
   border-color: rgb(228, 64, 222);
 }

 .medium-purple {
   border-color: rgb(166, 62, 199);
 }

 .low-purple {
   border-color: rgb(104, 60, 176);
 }

.line {
  text-align: justify;
  line-height: 0.7em;
}

.line:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.spin {
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.sixth {
  animation-duration: 0.7s;
}
.seventh {
  animation-duration: 0.7s;
}

@keyframes spin {
  from { transform: rotateX(0deg); }
  to { transform: rotateX(-360deg); }
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@media (max-width: 1025px) {
  body {
    margin: 0;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto auto;
    grid-template-areas:
      "main"
      "sidebar";
  }
  .grid-venn {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto auto;
    grid-template-areas:
      "sidebar-venn"
      "main-venn";
  }
  .main-venn {
    grid-area: main-venn;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto auto;
    grid-template-areas:
      "sidebar-top"
      "main-top";
  }
  .text-box {
    color: #fff;
    border-radius: 20px;
    min-height: 180px;
    font-size: 1.7em;
    text-align: justify;
    text-justify: inter-word;
  }
}
