svg path {
    stroke: #666;
    stroke-width: 2px;
}

svg text {
    fill: #333;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.change {
  fill: #fff;
}
[data-venn-sets="A"] { fill: #689bd044; } /* blue  */
[data-venn-sets="B"] { fill: #7eaa5544; } /* green */
[data-venn-sets="C"] { fill: #f6c14344; } /* yellow */
[data-venn-sets="D"] { fill: #ff830344; } /* orange  */
[data-venn-sets="E"] { fill: #eb403444; } /* red */
[data-venn-sets="A_B"] { fill: #73A39322; } /* blue/green */
[data-venn-sets="B_C"] { fill: #BAB64C22; } /* green/yellow */
[data-venn-sets="C_D"] { fill: #FBA22322; } /* yellow/orange */
[data-venn-sets="D_E"] { fill: #F5621C22; } /* orange/red */
[data-venn-sets="E_A"] { fill: #AA6E8222; } /* red/blue */
[data-venn-sets="A_B_C"] { fill: #AFAE8A11; } /* blue/yellow */
[data-venn-sets="A_B_E"] { fill: #B5754511; } /* green/red */
[data-venn-sets="A_D_E"] { fill: #B48F6A11; } /* blue/orange */
[data-venn-sets="B_C_D"] { fill: #BF972C11; } /* green/orange */
[data-venn-sets="C_D_E"] { fill: #F1813C11; } /* yellow/red */
[data-venn-sets="A_B_C_D"] { fill: #B48F6A11; } /* a/d */
[data-venn-sets="A_B_C_E"] { fill: #F1813C11; } /* c/e */
[data-venn-sets="A_B_D_E"] { fill: #BF972C11; } /* b/d */
[data-venn-sets="A_C_D_E"] { fill: #AFAE8A11; } /* a/c */
[data-venn-sets="B_C_D_E"] { fill: #B5754511; } /* b/e */
[data-venn-sets="A_B_C_D_E"] { fill: #65432111; } /* */

[data-venn-sets="A"]:hover { fill: #fff; } /* blue  */
[data-venn-sets="B"]:hover { fill: #fff; } /* green */
[data-venn-sets="C"]:hover { fill: #fff; } /* yellow */
[data-venn-sets="D"]:hover { fill: #fff; } /* orange  */
[data-venn-sets="E"]:hover { fill: #fff; } /* red */
[data-venn-sets="A_B"]:hover { fill: #fff; } /* blue/green */
[data-venn-sets="B_C"]:hover { fill: #fff; } /* green/yellow */
[data-venn-sets="C_D"]:hover { fill: #fff; } /* yellow/orange */
[data-venn-sets="D_E"]:hover { fill: #fff; } /* orange/red */
[data-venn-sets="E_A"]:hover { fill: #fff; } /* red/blue */
[data-venn-sets="A_B_C"]:hover { fill: #fff; } /* blue/yellow */
[data-venn-sets="A_B_E"]:hover { fill: #fff; } /* green/red */
[data-venn-sets="A_D_E"]:hover { fill: #fff; } /* blue/orange */
[data-venn-sets="B_C_D"]:hover { fill: #fff; } /* green/orange */
[data-venn-sets="C_D_E"]:hover { fill: #fff; } /* yellow/red */
[data-venn-sets="A_B_C_D"]:hover { fill: #fff; } /* a/d */
[data-venn-sets="A_B_C_E"]:hover { fill: #fff; } /* c/e */
[data-venn-sets="A_B_D_E"]:hover { fill: #fff; } /* b/d */
[data-venn-sets="A_C_D_E"]:hover { fill: #fff; } /* a/c */
[data-venn-sets="B_C_D_E"]:hover { fill: #fff; } /* b/e */
[data-venn-sets="A_B_C_D_E"]:hover { fill: #fff; } /* */
